/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  font-family: sans-serif;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #0f0f0f;
}
